body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f5f5f5; 
  color: #333; 
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 3vh;
}

header {
  background-color: #fff; 
  text-align: center;
  color: #689F38; 
  position: relative;
  height: 17vh;
}

li {
  font-weight: bold; 
  margin: 5px 0;
}

nav {
  background-color: #689F38; 
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff; 
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #333;
}

footer {
  background-color: #259646; 
  padding: 10px;
  text-align: center;
  color: #fff; 
  position: fixed;
  bottom: 0;
  width: 100%;
}
 .header-image {
  position: absolute;
  top: 10%;
  left: 30vw; 
  height: 80%;
  background: transparent;
}

.mobile {
  position: absolute;
  top: 5%;
  color:#000;
  margin-left: 55vw;
  display: flex;
  max-width:80%
}

.phone {
  margin-top: 2%;
  max-width: 20%;
  height:auto;
  width:auto;
  max-height: 100%;
}
.slideshow-container {
  width: 100%;
  height: 76vh; 
  position: relative;
  overflow: hidden; 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mySlides {
  display: none;
  animation: fadeInOut 10s ease-in-out both;
  height: 100%;
}

.mySlides.new {
  animation: fadeInOut 10s ease-in-out both;
}

.mySlides img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; 
}

.overlay-text h1 {
  font-size: 2em; 
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 1.2em; 
}


@media screen and (max-width: 600px) {
  .header-image {
    position: absolute;
    top: 10%;
    left: 2vw; 
    height: 80%;
  }
  
  .mobile {
    position: absolute;
    top: 5%;
    color:#000;
    margin-left: 40vw;
    display: flex;
    max-width:80%
  }
  
  .phone {
    max-width: 28%;
  }
  .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
