body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #259646;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Extra text styles */
.extra-text {
    background-color: #333;
    color: #259646;
    text-align: center;
    margin-bottom: -3vh;
    padding: 2vh;
    align-items: center;
    font-size: 2.5vw;
}

/* Header styles */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2vh;
    margin: 2.5vh;
    align-items: center;
    margin-bottom: 2vh;
    border-bottom: 0.5vh solid #259646;
    width: 90%;
    font-size: 2.3vw;
    justify-content: space-between;
}

/* Logo styles */
.logo-container {
    align-items: center;
}

.logo-container img {
    max-width: 40vw; /* Adjust the max-width to your desired size */
    height: auto;
    margin-bottom: 2vw;
}

/* Section styles */
#about,
#for-clients,
#for-carers,
#mechandise,
#gift-vouchers,
#merchandise {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-right: 80vw;
    margin-bottom: 25vh;
    font-size: 2vw;
}

#job-opportunities,
#make-a-payment {
    margin-right: 76vw;
    margin-bottom: 20vh;
    font-size: 1.5vw;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    margin: 0 2vw;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* General section styles */
section {
    padding: 2vh;
}
